<div layout="row" flex>

	<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
		<md-content layout="column" flex class="md-padding">
			<form>
				<h3 class="md-title">絞り込み検索</h3>
				<h4>受賞年</h4>
				<div layout="row" class="md-block">
					<md-input-container>
						<label>start</label><input ng-model="searchKinejun.yearStart" type="number"></input>
					</md-input-container>
					<md-input-container>
						<label>end</label><input ng-model="searchKinejun.yearEnd" type="number"></input>
					</md-input-container>
				</div>
				<h4>部門</h4>
				<md-input-container class="md-block">
					<label>部門</label>
					<md-select ng-model="searchKinejun.janle">
						<md-option value="日本映画">日本映画ベスト・テン</md-option>
						<md-option value="外国映画">外国映画ベスト・テン</md-option>
						<md-option value="芸術的に最も優れた映画">芸術的に最も優れた映画</md-option>
						<md-option value="娯楽的に最も優れた映画">娯楽的に最も優れた映画</md-option>
						<md-option value="芸術的優秀映画">芸術的優秀映画</md-option>
						<md-option value="娯楽的優秀映画">娯楽的優秀映画</md-option>
					</md-select>
				</md-input-container>
				<h4>ランク</h4>
				<div layout="row" class="md-block">
					<md-input-container>
						<label>start</label><input ng-model="searchKinejun.rankStart" type="number"></input>
					</md-input-container>
					<md-input-container>
						<label>end</label><input ng-model="searchKinejun.rankEnd" type="number"></input>
					</md-input-container>
				</div>
				<h4>タイトル</h4>
				<md-input-container class="md-block">
					<label>タイトル</label><input ng-model="searchKinejun.title"></input>
				</md-input-container>
				<h4>監督</h4>
				<md-input-container class="md-block">
					<label>監督</label><input ng-model="searchKinejun.director"></input>
				</md-input-container>
			</form>
		</md-content>
	</md-sidenav>

	<md-content layout="column" flex>
		<md-card>
			<md-toolbar class="md-table-toolbar md-default">
				<div class="md-toolbar-tools">
					<h2>キネマ旬報ベスト・テン</h2>
					<div flex></div>
					<md-button ng-click="toggleSidenav('left')" hide-gt-md class="md-icon-button">
						<md-icon md-font-library="material-icons">filter_list</md-icon>
					</md-button>
				</div>
			</md-toolbar>

			<md-table-container>
				<table md-table>
					<thead md-head md-order="query.order">
						<tr md-row>
							<th md-column md-order-by="year">受賞年</th>
							<th md-column md-order-by="janle">部門</th>
							<th md-column md-numeric md-order-by="rank">ランク</th>
							<th md-column md-order-by="title">タイトル</th>
							<th md-column md-order-by="director">監督</th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row ng-repeat="filmData in filmDatas
						| filter: { 'janle': searchKinejun.janle, title: searchKinejun.title, 'director': searchKinejun.director}
						| yearStart: searchKinejun.yearStart | yearEnd: searchKinejun.yearEnd
						| rankStart: searchKinejun.rankStart | rankEnd: searchKinejun.rankEnd
						| orderBy: query.order
						| limitTo: query.limit : (query.page -1) * query.limit">
							<td md-cell>{{filmData.year}}</td>
							<td md-cell>{{filmData.janle}}</td>
							<td md-cell>{{filmData.rank}}</td>
							<td md-cell>{{filmData.title}}</td>
							<td md-cell>{{filmData.director}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>

			<md-table-pagination md-limit="query.limit" md-limit-options="[10, 20, 50, 100]" md-page="query.page" md-total="{{(filmDatas | filter: { 'janle': searchKinejun.janle, title: searchKinejun.title, 'director': searchKinejun.director}
			| yearStart: searchKinejun.yearStart | yearEnd: searchKinejun.yearEnd
			| rankStart: searchKinejun.rankStart | rankEnd: searchKinejun.rankEnd).length}}" md-page-select></md-table-pagination>
		</md-card>
	</md-content>

</div>
