@import "~angular-material/angular-material.scss";
@import "~angular-material-data-table/dist/md-data-table.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

md-card {
	flex: 0 0 auto;
	position: relative;
}

div.filter-row > md-input-container {
	margin: 0;
}
